@model IEnumerable<WebApplication1.Models.Course>

@{
    ViewBag.Title = "courselist";
}
<div class="jumbotron col-lg-offset-2 col-lg-8 text-center">

    <h2>Course list</h2>

    <p>
        @Html.ActionLink("Create New", "addcourse")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.title)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.title)
                </td>
                <td>
                    @Html.ActionLink("Delete", "Deletecourse", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
    <div>
        @Html.ActionLink("Back", "courses")
    </div>
</div>