@model WebApplication1.Models.Section

@{
    ViewBag.Title = "deletesection";
}

<h2>deletesection</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Section</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Class.classname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Class.classname)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "class_section")
        </div>
    }
</div>
