
@{
    ViewBag.Title = "students";
}




<div id="sidebar" style="background-color:#808080;    height: 637px;" class="col-md-3 ">
    <span style="color:white;font-size:50px">Student</span><br /><br />
    <img src="../images/db.png" style="width:60px" />
    @Html.ActionLink("Dashboard", "Dashboard", "Admin", new { @style = "color:white;font-size:20px" }) <br />
    <div class="col-lg-2">
        <img src="../images/mng.png" style="width:55px;margin-left:-16px" />
    </div>
    <div class="col-lg-10">
        @Html.ActionLink("Manage classes and         Section", "class_section", "Admin", new { @style = "color:white;font-size:20px" })
    </div><br />

    <img src="../images/mgt.png" style="width:44px" />

    @Html.ActionLink("Manage Teachers", "teachers", "Admin", new { @style = "color:white;font-size:20px" })<br />
    <br />
    <img src="../images/mgs.png" style="width:40px" />


    @Html.ActionLink("Manage Students", "students", "Admin", new { @style = "color:white;font-size:20px" })
    <br /><br />
    <div class="col-lg-2">
        <img src="../images/atr.png" style="width:30px" />
    </div>
    <div class="col-lg-10">
        @Html.ActionLink("View Attendence Report", "attendence", "Admin", new { @style = "color:white;font-size:20px" })
    </div><br />

    <img src="../images/mgc.png" style="width:40px" />

    @Html.ActionLink("Manage Courses", "courses", "Admin", new { @style = "color:white;font-size:20px;" })

    <br /><br />
    <img src="../images/mtt.png" style="width:40px" />

    @Html.ActionLink("Time Table", "timetable", "Admin", new { @style = "color:white;font-size:20px" })
    <br /><br />

    <img src="../images/mtt.png" style="width:40px" />


    @Html.ActionLink("DateSheets", "datesheet", "Admin", new { @style = "color:white;font-size:20px" })
    <br />

</div>
<div class="col-lg-9">

    <div class="row" style="background-color:#ff8c57;padding-top:20px;padding-bottom:20px;text-align:center">
        <b style="font-size: 19px;">STUDENT MANAGEMENT</b>

    </div><br />
    <div class="row">
        <div class="row">
            <div class="col-lg-2 col-lg-offset-4">
                <input style="background-color:#808080;color:white;width:245px;margin-top:60px" type="button" value="ADD STUDENT" onclick="location.href='@Url.Action("Register", "Account")'" />
            </div>
        </div><br /><br />
        <div class="row">
            <div class="col-lg-2 col-lg-offset-4">
                <input style="background-color:#808080;color:white;width:245px" type="button" value="STUDENTS" onclick="location.href='@Url.Action("studentlist", "Admin")'" />
            </div>
        </div><br /><br />


        <img src="../images/arr.png" style="width:40px;margin-left:-30px;margin-top:-298px" />

    </div>
</div>



